In [1]:
import pandas as pd
import numpy as np
import savReaderWriter as sav
import pyreadstat

In [2]:

# Cargar la base de datos

df, meta = pyreadstat.read_sav('G:/Mi unidad/1ECO35_2023_1/data/actos_est.sav')

In [3]:
# Mostrar las etiquetas de valor y las etiquetas de las variables
print(df.dtypes)

IDEVENTO     object
IDACTO      float64
IDACTOR     float64
IDTIPOAC     object
LDS_LDT     float64
             ...
T13         float64
T14         float64
T15         float64
T16         float64
T90         float64
Length: 118, dtype: object

In [4]:
#Filtramos la vase segun los datos solicitados
df= df[(df.LDS_LDT == 1) | (df.LSE == 1)| (df.LRC == 1)| (df.MAT == 1)]
df

In [5]:
#Realizamos una copia de la base 
df01 = df.copy()
df01.drop_duplicates(subset='IDACTO', keep='first', inplace=True)

In [6]:
#Limpimaos la base y dejamos los actos de violencia 
df01["Desaparicion"] = df["LDS_LDT"]
df01["Secuestro"] = df["LSE"]
df01["Reclutamineto Forzado"] = df["LRC"]
df01["Muertes en Atentados"] = df["MAT"]
df01["Departamento"] = df["DEPNAC"]


df01 = df01[["Departamento","Desaparicion","Secuestro","Reclutamineto Forzado","Muertes en Atentados"]]

In [8]:
#Limpimaos la base y dejamos los actos de violencia 
df02 = df.copy()
df02.drop_duplicates(subset='IDACTO', keep='first', inplace=True)

df02["Desaparicion"] = df["LDS_LDT"]
df02["Secuestro"] = df["LSE"]
df02["Reclutamineto Forzado"] = df["LRC"]
df02["Muertes en Atentados"] = df["MAT"]
df02["Distrito"] = df["UBIDIST"]


df02 = df02[["Distrito","Desaparicion","Secuestro","Reclutamineto Forzado","Muertes en Atentados"]]

In [13]:
#Calulamos una base con el numero de actos de violencia segun su departamento 
Eventos_Violencia01 = df01.groupby('Departamento').sum().T.reset_index(inplace=False)
Eventos_Violencia01.rename(columns={"index":"Departamento"},inplace=True)
Eventos_Violencia01

Departamento,Departamento,,01,02,03,04,05,06,07,08,...,13,14,15,16,17,19,20,21,22,25
0,Desaparicion,440.0,3.0,30.0,147.0,2.0,1166.0,20.0,2.0,29.0,...,20.0,3.0,77.0,11.0,1.0,33.0,18.0,36.0,124.0,48.0
1,Secuestro,315.0,3.0,28.0,131.0,2.0,619.0,16.0,2.0,22.0,...,13.0,1.0,36.0,6.0,0.0,30.0,4.0,41.0,67.0,25.0
2,Reclutamineto Forzado,58.0,1.0,3.0,31.0,0.0,91.0,0.0,0.0,3.0,...,1.0,1.0,6.0,1.0,0.0,5.0,2.0,5.0,12.0,2.0
3,Muertes en Atentados,17.0,0.0,2.0,2.0,3.0,15.0,0.0,0.0,0.0,...,0.0,1.0,10.0,1.0,0.0,2.0,3.0,6.0,8.0,3.0

In [16]:
#Calulamos una base con el numero de actos de violencia segun su departamento 
Eventos_Violencia02 = df02.groupby('Distrito').sum().T.reset_index(inplace=False)
Eventos_Violencia02.rename(columns={"index":"Distrito"},inplace=True)
Eventos_Violencia02

Distrito,Distrito,010201,010609,010701,020100,020101,020104,020105,020502,020506,...,250104,250105,250106,250201,250202,250203,250300,250301,250302,250303
0,Desaparicion,1.0,1.0,3.0,1.0,5.0,0.0,4.0,2.0,0.0,...,1.0,5.0,1.0,1.0,1.0,1.0,1.0,102.0,27.0,1.0
1,Secuestro,0.0,1.0,0.0,0.0,6.0,0.0,5.0,1.0,2.0,...,0.0,4.0,1.0,2.0,1.0,0.0,1.0,63.0,14.0,1.0
2,Reclutamineto Forzado,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0
3,Muertes en Atentados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0