## Trabajo Final - Grupo 6 :

In [24]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')  # Eliminar warning messages

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

import re
import time
from selenium.webdriver.support.ui import Select
import os
import sys
from selenium.webdriver.common.by import By

from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import ActionChains
from tqdm import tqdm

In [25]:
# Construimos la ruta al archivo "resultado_2014.dta" utilizando os.path.join
file_path = os.path.join("..", "..", "data", "trabajo_final", "CE", "resultado_2014.dta")

# Subiendo la base de datos "resultado_2014" y realizando una copia
data = pd.read_stata(file_path).copy()
data

,COD_MOD,ANEXO,TIPOREG,NROCED,CUADRO,TIPDATO,DESCRIP,D01,D02,D03,...,D19,D20,FORMAS,NIV_MOD,TIPOPROG,GES_DEP,CODOOII,CODGEO,AREA_MED,IMPUTADO
0,0001506,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151011,2,0
1,0001506,0,9,02,101,03,Trasladados a otro P.E./I.E.,0,0,0,...,0,0,N,A5,4,A1,150206,151011,2,0
2,0001507,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151003,2,0
3,0001509,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151001,2,0
4,0001512,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151003,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308871,1501212,0,1,08,101,02,Retirados,0,0,0,...,0,0,N,E0,a,A1,150106,150132,1,1
308872,1501212,0,1,08,104,01,Situación económica,0,0,0,...,0,0,N,E0,a,A1,150106,150132,1,1
308873,0901835,0,1,08,101,01,Concluyeron,2,2,5,...,0,0,N,E0,a,A1,150106,150132,1,1
308874,0901835,0,1,08,101,02,Retirados,0,0,0,...,0,0,N,E0,a,A1,150106,150132,1,1
308875,1136563,0,1,08,101,01,Concluyeron,0,0,0,...,0,0,S,E0,a,A1,240003,240304,1,1

In [26]:
# Eliminamo los datos duplicados basados en la columna 'COD_MOD=código modular único del servicio educativo) '
data = data[~data.duplicated(subset='COD_MOD', keep='first')]
data
#Así vemos una basa más limpia y ordenada

,COD_MOD,ANEXO,TIPOREG,NROCED,CUADRO,TIPDATO,DESCRIP,D01,D02,D03,...,D19,D20,FORMAS,NIV_MOD,TIPOPROG,GES_DEP,CODOOII,CODGEO,AREA_MED,IMPUTADO
0,0001506,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151011,2,0
2,0001507,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151003,2,0
3,0001509,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151001,2,0
4,0001512,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151003,2,0
5,0001513,0,9,02,101,01,Concluyeron,0,0,0,...,0,0,N,A5,4,A1,150206,151003,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308861,1197151,0,1,08,101,01,Concluyeron,3,2,9,...,0,0,N,E0,a,A1,150102,150119,1,1
308864,0901777,0,1,08,101,01,Concluyeron,1,1,8,...,0,0,N,E0,a,A1,150106,150132,1,1
308867,1230994,0,1,08,101,01,Concluyeron,5,4,13,...,0,0,N,E0,a,A1,150106,150111,1,1
308870,1501212,0,1,08,101,01,Concluyeron,1,1,3,...,0,0,N,E0,a,A1,150106,150132,1,1
308875,1136563,0,1,08,101,01,Concluyeron,0,0,0,...,0,0,S,E0,a,A1,240003,240304,1,1

In [ ]:
#obtenemos las coordenadas geográficas, los cuales están disponibles en el MAPA ESCALE del Ministerio de Educación
# Iniciando el navegador web"
driver= webdriver.Chrome( "chromedriver.exe" )

# Maximize window
driver.maximize_window()
driver.get('https://sigmed.minedu.gob.pe/mapaeducativo/')
driver.find_element(By.XPATH,'//*[@id="winuseterms"]/div/div[3]/button').click()

In [ ]:
for codigo in data['COD_MOD']:
    # Encontrar el campo de entrada de texto y escribir el código
    keyword = driver.find_element(By.ID, "txttextsearch")
    keyword.clear()
    keyword.send_keys(codigo)
    
    print(codigo)
    
    # Hacer clic en el botón de búsqueda
    driver.find_element(By.XPATH,'//*[@id="searchbox"]/table/tbody/tr[1]/td/form/table/tbody/tr[7]/td/div/button[1]').click()
    
    # Esperar a que aparezca la tabla de resultados
    driver.implicitly_wait(4)  # Esperar hasta 10 segundos
    
     # Extraer la información de latitud y longitud de la tabla de resultados
    time.sleep(2)  # Esperar 2 segundos antes de extraer la información
  
    try:
        latitud_element = driver.find_element(By.XPATH, '//*[@id="gvwDataPadron"]/tbody/tr[2]/td[14]')
        longitud_element = driver.find_element(By.XPATH, '//*[@id="gvwDataPadron"]/tbody/tr[2]/td[15]')
        latitud = latitud_element.text
        longitud = longitud_element.text
    except NoSuchElementException:
        latitud = '.'
        longitud = '.'
    
    # Actualizar la base de datos resultado_2014 con las columnas de latitud y longitud
    data.loc[data['COD_MOD'] == codigo, 'Latitud'] = latitud
    data.loc[data['COD_MOD'] == codigo, 'Longitud'] = longitud
    data_5_rows