In [5]:
###Map, sapply, apply, función Lambda###

datos = pd.read_csv("../../data/BDD_compras_consumidores.csv")

def escalamiento(x):
    return (x - x.min()) / (x.max() - x.min())

datos.loc[:, datos.select_dtypes(include=np.number).columns] = datos.select_dtypes(include=np.number).apply(escalamiento)

vector = np.random.rand(100)
vector_esc = escalamiento(vector)
print(vector_esc)

[0.20117918 0.70851222 0.89012911 0.3414706  0.67993374 0.05486307
 0.69926679 0.10835915 0.54041666 0.56614279 0.23128375 0.59007052
 0.21069236 0.08913257 0.20659585 0.59036337 0.97484178 0.1525108
 0.70779819 0.93637331 0.5462576  0.25865071 0.10760391 0.14459375
 0.9883546  0.90133739 0.08600821 0.7228244  0.86903768 0.60458065
 0.14456738 0.8457425  0.62978631 0.32452893 0.65024789 0.85884731
 0.91303264 0.46872202 0.61617752 0.28335311 0.50059966 0.26807851
 0.60849817 0.38786692 0.20403975 0.55780816 0.81917958 0.88898395
 0.14878095 0.80494612 0.91721268 0.57959903 0.48877039 0.
 0.1220449  0.52079802 0.71876072 0.39012231 0.85653912 0.05127891
 0.14082922 0.99048698 0.78074879 0.86939465 0.6941025  0.69801264
 0.12206632 0.55849975 0.08279785 0.69214918 0.18477726 0.7608574
 0.726606   0.36595921 0.61956095 0.46617383 0.88338638 0.89556703
 0.36730378 0.87784081 0.38425253 0.1796843  0.5953132  0.98700972
 0.61864586 0.02726178 0.43394188 0.85621534 0.51412047 0.16153307
 0.87262007 0.45034915 1.         0.04719519 0.18779514 0.83996966
 0.67143382 0.43696568 0.95865391 0.85199758]

In [6]:
#Primera opción:
import pandas as pd
datos = pd.read_csv("../../data/BDD_compras_consumidores.csv")
def escalamiento(x):
    return (x - x.min()) / (x.max() - x.min())
datos.loc[:, datos.dtypes == 'float64'] = datos.loc[:, datos.dtypes == 'float64'].apply(escalamiento)
import numpy as np
vector = np.random.rand(100)
vector_esc = escalamiento(vector)
print(vector_esc)

[0.9289934  0.46246887 0.94407409 0.24134886 0.197453   0.7298092
 0.49194262 0.35602411 0.28322417 0.76699533 0.62510935 0.37476842
 0.46794753 0.35277033 0.42058894 0.22619883 0.26100424 0.41988461
 0.14385918 0.99418806 0.60694278 0.39304434 0.82618952 0.59336995
 0.20428428 0.61635992 0.49325718 0.1700031  0.38257818 0.89262194
 0.15951657 0.79882909 0.33230465 0.02598153 0.34929564 0.9770419
 0.09374028 0.05829113 0.34362251 0.79141864 0.14208824 0.43104502
 0.23080962 0.69826043 0.73455367 0.13629972 0.18560332 0.88177319
 0.14162693 0.75210379 0.15250078 0.54067653 0.02398511 0.23180983
 0.28154826 0.70205377 0.57877952 0.22255306 0.60874532 0.1225897
 0.8426659  0.97960868 0.91908914 0.38179115 0.50905398 0.24533932
 0.88701725 0.44007261 0.13946798 0.83821291 0.56679319 0.84524201
 0.88841871 0.66058073 0.72317569 0.62632828 0.28665772 0.68687431
 0.50908452 0.23747998 0.         0.08175124 1.         0.23263841
 0.86475294 0.92061804 0.85665064 0.92148159 0.81699832 0.67851483
 0.94325523 0.40831366 0.4079308  0.27333879 0.40729095 0.47261517
 0.78827245 0.84188452 0.17577162 0.50054397]

In [34]:
#Segunda opción:
datos = pd.read_csv("../../data/BDD_compras_consumidores.csv")

def escalamiento(x):
    return (x - x.min()) / (x.max() - x.min())

datos.loc[:, datos.select_dtypes(include=np.number).columns] = datos.select_dtypes(include=np.number).apply(escalamiento)

vector = np.random.rand(100)
vector_esc = escalamiento(vector)
print(vector_esc)

[0.37745925 0.04141609 0.9356694  0.65722945 0.28309587 0.60534933
 0.89116132 0.11046651 0.19350409 0.55209942 0.82958531 0.87409895
 0.2682699  0.6089097  0.53477281 0.87432878 0.09588193 0.284212
 0.91715644 0.85137962 0.85699012 0.02968639 0.55539769 0.85169718
 0.68980523 0.79445221 0.71174513 0.53056063 0.22467184 0.
 0.93612669 0.06420318 0.57373917 0.09333181 0.00101958 0.24008094
 0.39000002 0.18443943 0.55428461 0.30143885 0.93291209 0.50709479
 0.08220359 0.67270224 0.07208647 0.47356377 0.35183913 0.67708754
 0.85633184 0.38440911 0.28640043 0.4646248  0.55906074 0.78141208
 0.8170467  0.12092299 0.29069009 0.36020079 0.10443008 0.73458947
 0.89091575 0.87769428 0.71841864 0.60558582 0.73654137 0.28424908
 0.13939991 0.4138594  0.57129515 0.34519184 0.1056814  0.19246796
 0.84906632 0.04814064 0.23883733 0.80138574 0.16346193 0.86408709
 0.23453563 1.         0.79843451 0.2373791  0.23705873 0.5515267
 0.30016918 0.2096965  0.09856691 0.25303642 0.5181719  0.50872643
 0.98166963 0.68244354 0.66799154 0.53641348 0.25916998 0.14574713
 0.65046495 0.84624762 0.19614903 0.50426712]

In [33]:
###Apply###

#importamos la base de datos siagie.xlsx la cual contiene las notas finales de los alumnos de nivel secundaria de una I.E.
import pandas as pd
import numpy as np

# Leemos el archivo CSV usando una ruta relativa
siagiecsv = pd.read_csv("../../data/siagie.csv", sep=",")
siagiecsv

,id_anio,cod_mod,id_nivel,dsc_grado,id_grado,id_seccion,arte,ciencia_tecnologia_y_ambiente,comunicacion,educacion_fisica,educacion_para_el_trabajo,educacion_religiosa,formacion_ciudadana_y_civica,hisotoria_geografia_y_economia,ingles,matematica,persona_familia_y_rrhh
0,2015,2212,F0,QUINTO,14,1,17,16,16,15,14,15,14,16,16,13,15
1,2015,2212,F0,CUARTO,13,1,12,13,16,14,14,13,14,13,16,13,14
2,2015,2212,F0,SEGUNDO,11,1,17,13,11,13,16,13,12,13,14,12,13
3,2015,2212,F0,SEGUNDO,11,1,14,16,13,13,13,14,13,14,13,13,13
4,2015,2212,F0,PRIMERO,10,1,15,12,11,13,13,16,13,14,13,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2015,2212,F0,CUARTO,13,1,12,13,14,15,12,13,14,13,16,12,13
131,2015,2212,F0,CUARTO,13,1,13,11,10,13,11,13,12,12,13,11,13
132,2015,2212,F0,SEGUNDO,11,1,18,18,18,13,17,15,13,17,16,18,16
133,2015,2212,F0,SEGUNDO,11,1,13,13,11,13,12,14,12,12,12,12,13
134,2015,2212,F0,SEGUNDO,11,1,14,15,13,13,14,13,13,13,14,15,13

In [14]:
# Calculamos la nota promedio final de cada alumno
mean_rows = siagiecsv.iloc[:, 6:].mean(axis=1)
mean_rows

0      15.181818
1      13.818182
2      13.363636
3      13.545455
4      13.090909
         ...
130    13.363636
131    12.000000
132    16.272727
133    12.454545
134    13.636364
Length: 135, dtype: float64

In [16]:
# Calculamos la nota máxima de cada alumno
max_rows = siagiecsv.iloc[:, 6:].max(axis=1)
max_rows

0      17
1      16
2      17
3      16
4      16
       ..
130    16
131    13
132    18
133    14
134    15
Length: 135, dtype: int64

In [17]:
# Calculamos la nota mínima de cada alumno
min_rows = siagiecsv.iloc[:, 6:].min(axis=1)
min_rows

0      13
1      12
2      11
3      13
4      11
       ..
130    12
131    10
132    13
133    11
134    13
Length: 135, dtype: int64

In [18]:
# Calculamos el promedio de notas de cada curso
mean_cols = siagiecsv.iloc[:, 6:].mean(axis=0)
mean_cols
#vemos que son 11 cursos y que la mayoría aprobó en la mayoría de los cursos

arte                              14.103704
ciencia_tecnologia_y_ambiente     13.222222
comunicacion                      13.762963
educacion_fisica                  13.437037
educacion_para_el_trabajo         13.414815
educacion_religiosa               14.014815
formacion_ciudadana_y_civica      12.674074
hisotoria_geografia_y_economia    13.703704
ingles                            14.214815
matematica                        12.311111
persona_familia_y_rrhh            13.711111
dtype: float64

In [19]:
# Calculamos la mediana de notas de cada curso
median_cols = siagiecsv.iloc[:, 6:].median(axis=0)
median_cols

arte                              14.0
ciencia_tecnologia_y_ambiente     13.0
comunicacion                      14.0
educacion_fisica                  13.0
educacion_para_el_trabajo         13.0
educacion_religiosa               14.0
formacion_ciudadana_y_civica      13.0
hisotoria_geografia_y_economia    13.0
ingles                            14.0
matematica                        12.0
persona_familia_y_rrhh            13.0
dtype: float64

In [21]:
###Funciones###
#Creamos una funcion que permita calcular el factorial del numero (n).  
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(5))

120

In [30]:
#Creamos una funcion de masa corporal
def calcular_imc(peso, talla):
    imc = peso / (talla**2)
#Si el IMC esta entre 18.5- 24.9 --> Normal
#Si el IMC esta entre 25-29.9 --> Sobrepeso
#Si el IMC esta entre 30-34.9 --> Obesidad grado I
#Si el IMC esta entre 30-34.9 --> Obesidad grado II
#Si el IMC esta entre 30-34.9 --> Obesidad grado III
    if 18.5 <= imc < 24.9:
        clasificacion = "Normal"
    elif 25 <= imc < 29.9:
        clasificacion = "Sobrepeso"
    elif 30 <= imc < 34.9 :
        clasificacion = "Obesidad grado I"
    elif 35 <= imc < 39.9 :
        clasificacion = "Obesidad grado II"
    else:
        clasificacion = "Obesidad grado III"
    return peso, talla, imc, clasificacion

# Datos de los estudiantes
estudiante1_peso = 70
estudiante1_talla = 1.5
estudiante2_peso = 85
estudiante2_talla = 1.8
estudiante3_peso = 50
estudiante3_talla = 1.6

# Cálculo del IMC y clasificación para cada estudiante
estudiante1_peso, estudiante1_talla, estudiante1_imc, estudiante1_clasificacion = calcular_imc(estudiante1_peso, estudiante1_talla)
estudiante2_peso, estudiante2_talla, estudiante2_imc, estudiante2_clasificacion = calcular_imc(estudiante2_peso, estudiante2_talla)
estudiante3_peso, estudiante3_talla, estudiante3_imc, estudiante3_clasificacion = calcular_imc(estudiante3_peso, estudiante3_talla)

# Imprimir resultados
print("Estudiante 1 - Peso:", estudiante1_peso, "Talla:", estudiante1_talla, "IMC:", estudiante1_imc, "Clasificación:", estudiante1_clasificacion)
print("Estudiante 2 - Peso:", estudiante2_peso, "Talla:", estudiante2_talla, "IMC:", estudiante2_imc, "Clasificación:", estudiante2_clasificacion)
print("Estudiante 3 - Peso:", estudiante3_peso, "Talla:", estudiante3_talla, "IM" , estudiante3_imc, "Clasificación:", estudiante3_clasificacion)

Estudiante 1 - Peso: 70 Talla: 1.5 IMC: 31.11111111111111 Clasificación: Obesidad grado I
Estudiante 2 - Peso: 85 Talla: 1.8 IMC: 26.234567901234566 Clasificación: Sobrepeso
Estudiante 3 - Peso: 50 Talla: 1.6 IM 19.531249999999996 Clasificación: Normal

In [31]:
#Funcion aplicado a 2 activos financieros
import pandas as pd

portafolio = pd.read_csv(r"../../data/portafolio.csv")
portafolio 
import numpy as np

def calculadora(data):
    X = data['X']
    Y = data['Y']
    w1 = 0.2
    w2 = 0.8