# TAREA 6

# RESHAPE

In [276]:
import pandas as pd
import numpy as np
import re 
import warnings
warnings.filterwarnings('ignore')

In [277]:
#Abrimos la Base de Datos 
panel1 = pd.read_stata("../../data/Juntos_program/data.dta",
                      convert_categoricals=False)
#2015-2019

In [278]:
panel1
#Vemos que está en formato wide
#Está a nivel de individuo

,numper,numpanh15,numpanh16,numpanh17,numpanh18,numpanh19,mes_15,ubigeo_15,dominio_15,p400a3_15,...,mes_18,ubigeo_18,dominio_18,p400a3_18,p4022_18,mes_19,ubigeo_19,dominio_19,p400a3_19,p4022_19
0,15368,1158,1158,1158,1158,1158,11,10101,sierra norte,1946.0,...,12,10101,sierra norte,1946.0,0.0,11,10101,sierra norte,1946.0,0.0
1,15369,1158,1158,1158,1158,1158,11,10101,sierra norte,1973.0,...,12,10101,sierra norte,1973.0,0.0,11,10101,sierra norte,1973.0,0.0
2,15380,1162,1162,1162,1162,1162,11,10101,sierra norte,1987.0,...,12,10101,sierra norte,1987.0,0.0,11,10101,sierra norte,1987.0,1.0
3,15381,1162,1162,1162,1162,1162,11,10101,sierra norte,2009.0,...,12,10101,sierra norte,2009.0,0.0,11,10101,sierra norte,2009.0,0.0
4,15410,1185,1185,1185,1185,1185,7,10101,sierra norte,1955.0,...,7,10101,sierra norte,1955.0,0.0,7,10101,sierra norte,1955.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,34848,18549,18549,18549,18549,18549,12,250101,selva,2002.0,...,12,250101,selva,2002.0,0.0,10,250101,selva,2002.0,1.0
5542,34846,18549,18549,18549,18549,18549,12,250101,selva,1985.0,...,12,250101,selva,1985.0,0.0,10,250101,selva,1985.0,0.0
5543,34847,18549,18549,18549,18549,18549,12,250101,selva,1976.0,...,12,250101,selva,1976.0,0.0,10,250101,selva,1976.0,1.0
5544,34849,18549,18549,18549,18549,18549,12,250101,selva,2007.0,...,12,250101,selva,2007.0,0.0,10,250101,selva,2007.0,1.0
5545,34850,18549,18549,18549,18549,18549,12,250101,selva,2011.0,...,12,250101,selva,2011.0,1.0,10,250101,selva,2011.0,0.0

In [279]:
# nombre de las variables en minuscula

panel1.columns = map(str.lower, panel1.columns)  


print( panel1.columns)

Index(['numper', 'numpanh15', 'numpanh16', 'numpanh17', 'numpanh18',
       'numpanh19', 'mes_15', 'ubigeo_15', 'dominio_15', 'p400a3_15',
       'p4022_15', 'mes_16', 'ubigeo_16', 'dominio_16', 'p400a3_16',
       'p4022_16', 'mes_17', 'ubigeo_17', 'dominio_17', 'p400a3_17',
       'p4022_17', 'mes_18', 'ubigeo_18', 'dominio_18', 'p400a3_18',
       'p4022_18', 'mes_19', 'ubigeo_19', 'dominio_19', 'p400a3_19',
       'p4022_19'],
      dtype='object')

In [280]:
# Nos quedamos con todas las variables 

index_columns = np.where( panel1.columns.str.contains(
    '(numper)|(numpanh)|(mes_)|(ubigeo_)|(dominio_)|(p400a3_)|(p4022_)',
    regex=True))[0]

# [0] extraer la lista de posiciones dentro de la tupla con las psicicones de las columnas que satisfacen la condición

In [281]:
index_columns

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
      dtype=int64)

In [282]:
panel1 = panel1.iloc[: ,index_columns] 
# Renombramos las variables de año de nacimiento, si estuvo enfermo en los últimos 4 meses, el año de nacimiento y
#el identificador del hogar
    
panel1.rename(columns = {'p400a3_15':'añcmto_15', 'p400a3_16':'añcmto_16', 'p400a3_17':'añcmto_17',
                         'p400a3_18':'añcmto_18', 'p400a3_19':'añcmto_19', 'p4022_15':'enfermo_15',
                         'p4022_16':'enfermo_16','p4022_17':'enfermo_17','p4022_18':'enfermo_18',
                         'p4022_19':'enfermo_19', 'numpanh15': 'numhog_15','numpanh16': 'numhog_16',
                        'numpanh17': 'numhog_17','numpanh18': 'numhog_18','numpanh19': 'numhog_19',}, inplace = True)

In [283]:
panel1

,numper,numhog_15,numhog_16,numhog_17,numhog_18,numhog_19,mes_15,ubigeo_15,dominio_15,añcmto_15,...,mes_18,ubigeo_18,dominio_18,añcmto_18,enfermo_18,mes_19,ubigeo_19,dominio_19,añcmto_19,enfermo_19
0,15368,1158,1158,1158,1158,1158,11,10101,sierra norte,1946.0,...,12,10101,sierra norte,1946.0,0.0,11,10101,sierra norte,1946.0,0.0
1,15369,1158,1158,1158,1158,1158,11,10101,sierra norte,1973.0,...,12,10101,sierra norte,1973.0,0.0,11,10101,sierra norte,1973.0,0.0
2,15380,1162,1162,1162,1162,1162,11,10101,sierra norte,1987.0,...,12,10101,sierra norte,1987.0,0.0,11,10101,sierra norte,1987.0,1.0
3,15381,1162,1162,1162,1162,1162,11,10101,sierra norte,2009.0,...,12,10101,sierra norte,2009.0,0.0,11,10101,sierra norte,2009.0,0.0
4,15410,1185,1185,1185,1185,1185,7,10101,sierra norte,1955.0,...,7,10101,sierra norte,1955.0,0.0,7,10101,sierra norte,1955.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,34848,18549,18549,18549,18549,18549,12,250101,selva,2002.0,...,12,250101,selva,2002.0,0.0,10,250101,selva,2002.0,1.0
5542,34846,18549,18549,18549,18549,18549,12,250101,selva,1985.0,...,12,250101,selva,1985.0,0.0,10,250101,selva,1985.0,0.0
5543,34847,18549,18549,18549,18549,18549,12,250101,selva,1976.0,...,12,250101,selva,1976.0,0.0,10,250101,selva,1976.0,1.0
5544,34849,18549,18549,18549,18549,18549,12,250101,selva,2007.0,...,12,250101,selva,2007.0,0.0,10,250101,selva,2007.0,1.0
5545,34850,18549,18549,18549,18549,18549,12,250101,selva,2011.0,...,12,250101,selva,2011.0,1.0,10,250101,selva,2011.0,0.0

In [284]:
cols = panel1.columns.tolist()

In [285]:
#el identificador ya está en la primera columna
cols[0:-1]

['numper',
 'numhog_15',
 'numhog_16',
 'numhog_17',
 'numhog_18',
 'numhog_19',
 'mes_15',
 'ubigeo_15',
 'dominio_15',
 'añcmto_15',
 'enfermo_15',
 'mes_16',
 'ubigeo_16',
 'dominio_16',
 'añcmto_16',
 'enfermo_16',
 'mes_17',
 'ubigeo_17',
 'dominio_17',
 'añcmto_17',
 'enfermo_17',
 'mes_18',
 'ubigeo_18',
 'dominio_18',
 'añcmto_18',
 'enfermo_18',
 'mes_19',
 'ubigeo_19',
 'dominio_19',
 'añcmto_19']

In [286]:
panel1.columns[1::]

Index(['numhog_15', 'numhog_16', 'numhog_17', 'numhog_18', 'numhog_19',
       'mes_15', 'ubigeo_15', 'dominio_15', 'añcmto_15', 'enfermo_15',
       'mes_16', 'ubigeo_16', 'dominio_16', 'añcmto_16', 'enfermo_16',
       'mes_17', 'ubigeo_17', 'dominio_17', 'añcmto_17', 'enfermo_17',
       'mes_18', 'ubigeo_18', 'dominio_18', 'añcmto_18', 'enfermo_18',
       'mes_19', 'ubigeo_19', 'dominio_19', 'añcmto_19', 'enfermo_19'],
      dtype='object')

In [287]:
#filtramos y nos quedamos sin los últimos 3 caracteres _año
filter_list = list( map( lambda x: re.sub('.{3}$',"", x) , list(panel1.columns)[1::] )   )
new_list = list(dict.fromkeys(filter_list))

In [288]:
new_list

['numhog', 'mes', 'ubigeo', 'dominio', 'añcmto', 'enfermo']

In [289]:
#Hacemos el reshape
reshape_panel = pd.wide_to_long(panel1, stubnames = new_list, i = ['numper'] , 
                                j = 'periodo' , sep = '_').reset_index()

In [290]:
reshape_panel

       numper  periodo  numhog  mes  ubigeo       dominio  añcmto  enfermo
0       15368       15    1158   11   10101  sierra norte  1946.0      0.0
1       15369       15    1158   11   10101  sierra norte  1973.0      0.0
2       15380       15    1162   11   10101  sierra norte  1987.0      1.0
3       15381       15    1162   11   10101  sierra norte  2009.0      1.0
4       15410       15    1185    7   10101  sierra norte  1955.0      0.0
...       ...      ...     ...  ...     ...           ...     ...      ...
27725   34848       19   18549   10  250101         selva  2002.0      1.0
27726   34846       19   18549   10  250101         selva  1985.0      0.0
27727   34847       19   18549   10  250101         selva  1976.0      1.0
27728   34849       19   18549   10  250101         selva  2007.0      1.0
27729   34850       19   18549   10  250101         selva  2011.0      0.0

[27730 rows x 8 columns]

In [291]:
#Abrimos la otra Base de Datos 
panel2 = pd.read_stata("../../data/Juntos_program/unidos.dta",
                      convert_categoricals=False)

In [292]:
panel2

      ubigeo                distrito    provincia    region  unidos
0      10101             Chachapoyas  Chachapoyas  Amazonas       1
1      10102                Asuncion  Chachapoyas  Amazonas       1
2      10103                  Balsas  Chachapoyas  Amazonas       0
3      10104                   Cheto  Chachapoyas  Amazonas       1
4      10105               Chiliquin  Chachapoyas  Amazonas       0
...      ...                     ...          ...       ...     ...
1869  250302                 Irazola   Padre Abad   Ucayali       0
1870  250303                Curimana   Padre Abad   Ucayali       0
1871  250304                 Neshuya   Padre Abad   Ucayali       0
1872  250305  Alexander von Humboldt   Padre Abad   Ucayali       0
1873  250401                   Purus        Purus   Ucayali       1

[1874 rows x 5 columns]

In [293]:
panel2.columns = map(str.lower, panel2.columns)  


print( panel2.columns)

Index(['ubigeo', 'distrito', 'provincia', 'region', 'unidos'], dtype='object')

In [294]:
print(reshape_panel.columns)
print(panel2.columns)

Index(['numper', 'periodo', 'numhog', 'mes', 'ubigeo', 'dominio', 'añcmto',
       'enfermo'],
      dtype='object')
Index(['ubigeo', 'distrito', 'provincia', 'region', 'unidos'], dtype='object')

In [295]:
#Hacemos el merge con ubigeo
merged_panel = pd.merge(reshape_panel, panel2, on=['ubigeo'])

In [296]:
merged_panel

,numper,periodo,numhog,mes,ubigeo,dominio,añcmto,enfermo,distrito,provincia,region,unidos
0,15368,15,1158,11,10101,sierra norte,1946.0,0.0,Chachapoyas,Chachapoyas,Amazonas,1
1,15369,15,1158,11,10101,sierra norte,1973.0,0.0,Chachapoyas,Chachapoyas,Amazonas,1
2,15380,15,1162,11,10101,sierra norte,1987.0,1.0,Chachapoyas,Chachapoyas,Amazonas,1
3,15381,15,1162,11,10101,sierra norte,2009.0,1.0,Chachapoyas,Chachapoyas,Amazonas,1
4,15410,15,1185,7,10101,sierra norte,1955.0,0.0,Chachapoyas,Chachapoyas,Amazonas,1
...,...,...,...,...,...,...,...,...,...,...,...,...
27725,34777,19,18472,7,220301,selva,1942.0,0.0,San Jose de Sisa,El Dorado,San Martin,0
27726,34779,19,18473,7,220301,selva,1988.0,0.0,San Jose de Sisa,El Dorado,San Martin,0
27727,34781,19,18473,7,220301,selva,2015.0,0.0,San Jose de Sisa,El Dorado,San Martin,0
27728,34778,19,18473,7,220301,selva,1984.0,1.0,San Jose de Sisa,El Dorado,San Martin,0
27729,34780,19,18473,7,220301,selva,2010.0,0.0,San Jose de Sisa,El Dorado,San Martin,0

In [298]:
merged_panel['enfermo'] = merged_panel['enfermo'].fillna(-1)

# Convertimos "enfermo" a entero
merged_panel['enfermo'] = merged_panel['enfermo'].astype(int)

In [299]:
merged_panel

,numper,periodo,numhog,mes,ubigeo,dominio,añcmto,enfermo,distrito,provincia,region,unidos
0,15368,15,1158,11,10101,sierra norte,1946.0,0,Chachapoyas,Chachapoyas,Amazonas,1
1,15369,15,1158,11,10101,sierra norte,1973.0,0,Chachapoyas,Chachapoyas,Amazonas,1
2,15380,15,1162,11,10101,sierra norte,1987.0,1,Chachapoyas,Chachapoyas,Amazonas,1
3,15381,15,1162,11,10101,sierra norte,2009.0,1,Chachapoyas,Chachapoyas,Amazonas,1
4,15410,15,1185,7,10101,sierra norte,1955.0,0,Chachapoyas,Chachapoyas,Amazonas,1
...,...,...,...,...,...,...,...,...,...,...,...,...
27725,34777,19,18472,7,220301,selva,1942.0,0,San Jose de Sisa,El Dorado,San Martin,0
27726,34779,19,18473,7,220301,selva,1988.0,0,San Jose de Sisa,El Dorado,San Martin,0
27727,34781,19,18473,7,220301,selva,2015.0,0,San Jose de Sisa,El Dorado,San Martin,0
27728,34778,19,18473,7,220301,selva,1984.0,1,San Jose de Sisa,El Dorado,San Martin,0
27729,34780,19,18473,7,220301,selva,2010.0,0,San Jose de Sisa,El Dorado,San Martin,0