## Worgroup 6 - Grupo 6 :

- <a href='#1.0'> 1. Base de datos </a> 
- <a href='#1.1'> 2. Reshape </a> 
- <a href='#1.1'> 2. Merge </a>

In [1]:
#Empezamos importando todas las librerias necesarias
import pandas as pd
import numpy as np
import re 
import warnings
warnings.filterwarnings('ignore')

## <a id='1.0'> 1. Base de datos </a>

In [5]:
#llamamos al directorio que contiene el archivo "data.dta"
juntos= pd.read_stata("../../data/Juntos_program/data.dta",convert_categoricals=False)
juntos

,numper,numpanh15,numpanh16,numpanh17,numpanh18,numpanh19,mes_15,ubigeo_15,dominio_15,p400a3_15,...,mes_18,ubigeo_18,dominio_18,p400a3_18,p4022_18,mes_19,ubigeo_19,dominio_19,p400a3_19,p4022_19
0,15368,1158,1158,1158,1158,1158,11,10101,sierra norte,1946.0,...,12,10101,sierra norte,1946.0,0.0,11,10101,sierra norte,1946.0,0.0
1,15369,1158,1158,1158,1158,1158,11,10101,sierra norte,1973.0,...,12,10101,sierra norte,1973.0,0.0,11,10101,sierra norte,1973.0,0.0
2,15380,1162,1162,1162,1162,1162,11,10101,sierra norte,1987.0,...,12,10101,sierra norte,1987.0,0.0,11,10101,sierra norte,1987.0,1.0
3,15381,1162,1162,1162,1162,1162,11,10101,sierra norte,2009.0,...,12,10101,sierra norte,2009.0,0.0,11,10101,sierra norte,2009.0,0.0
4,15410,1185,1185,1185,1185,1185,7,10101,sierra norte,1955.0,...,7,10101,sierra norte,1955.0,0.0,7,10101,sierra norte,1955.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,34848,18549,18549,18549,18549,18549,12,250101,selva,2002.0,...,12,250101,selva,2002.0,0.0,10,250101,selva,2002.0,1.0
5542,34846,18549,18549,18549,18549,18549,12,250101,selva,1985.0,...,12,250101,selva,1985.0,0.0,10,250101,selva,1985.0,0.0
5543,34847,18549,18549,18549,18549,18549,12,250101,selva,1976.0,...,12,250101,selva,1976.0,0.0,10,250101,selva,1976.0,1.0
5544,34849,18549,18549,18549,18549,18549,12,250101,selva,2007.0,...,12,250101,selva,2007.0,0.0,10,250101,selva,2007.0,1.0
5545,34850,18549,18549,18549,18549,18549,12,250101,selva,2011.0,...,12,250101,selva,2011.0,1.0,10,250101,selva,2011.0,0.0

In [27]:
#almacenamos los nombres de las columnas en un arreglo llamado "columnas"
columnas = juntos.columns.values
columnas

array(['numper', 'nump_15', 'nump_16', 'nump_17', 'nump_18', 'nump_19',
       'mes_15', 'ubigeo_15', 'dominio_15', 'p400a3_15', 'p4022_15',
       'mes_16', 'ubigeo_16', 'dominio_16', 'p400a3_16', 'p4022_16',
       'mes_17', 'ubigeo_17', 'dominio_17', 'p400a3_17', 'p4022_17',
       'mes_18', 'ubigeo_18', 'dominio_18', 'p400a3_18', 'p4022_18',
       'mes_19', 'ubigeo_19', 'dominio_19', 'p400a3_19', 'p4022_19'],
      dtype=object)

In [7]:
#Llmamos al segundo directorio "unidos" que está en formta dta
juntos2= pd.read_stata("../../data/Juntos_program/unidos.dta",
                      convert_categoricals=False)
juntos2

      ubigeo                distrito    provincia    region  unidos
0      10101             Chachapoyas  Chachapoyas  Amazonas       1
1      10102                Asuncion  Chachapoyas  Amazonas       1
2      10103                  Balsas  Chachapoyas  Amazonas       0
3      10104                   Cheto  Chachapoyas  Amazonas       1
4      10105               Chiliquin  Chachapoyas  Amazonas       0
...      ...                     ...          ...       ...     ...
1869  250302                 Irazola   Padre Abad   Ucayali       0
1870  250303                Curimana   Padre Abad   Ucayali       0
1871  250304                 Neshuya   Padre Abad   Ucayali       0
1872  250305  Alexander von Humboldt   Padre Abad   Ucayali       0
1873  250401                   Purus        Purus   Ucayali       1

[1874 rows x 5 columns]

In [8]:
#utilizamos la función list() para convertir los nombres de las columnas en un objeto de lista
columnas2 = list(juntos2.columns)
columnas2

['ubigeo', 'distrito', 'provincia', 'region', 'unidos']

## <a id='1.0'> 2. Reshape </a>

In [17]:
#definimos un diccionario llamado "new_columns" que mapea los nombres de las columnas antiguas a los nuevos nombres de columna 
new_columns = {'numpanh15': 'nump_15', 'numpanh16': 'nump_16', 'numpanh17': 'nump_17',
               'numpanh18': 'nump_18', 'numpanh19': 'nump_19'}
#Pasamos el diccionario "new_columns" como argumento para realizar la operación de renombrado.
juntos = juntos .rename(columns=new_columns)
columnas3 = juntos .columns.values
columnas3

array(['numper', 'nump_15', 'nump_16', 'nump_17', 'nump_18', 'nump_19',
       'mes_15', 'ubigeo_15', 'dominio_15', 'p400a3_15', 'p4022_15',
       'mes_16', 'ubigeo_16', 'dominio_16', 'p400a3_16', 'p4022_16',
       'mes_17', 'ubigeo_17', 'dominio_17', 'p400a3_17', 'p4022_17',
       'mes_18', 'ubigeo_18', 'dominio_18', 'p400a3_18', 'p4022_18',
       'mes_19', 'ubigeo_19', 'dominio_19', 'p400a3_19', 'p4022_19'],
      dtype=object)

In [19]:
#transformamos la base data.dta "juntos" a un formato long
reshape_juntos = pd.wide_to_long(juntos, ['nump', 'mes', 'ubigeo', 'dominio', 'p400a3', 'p4022'],
                              i='numper', j='period', suffix='.+', sep='_').reset_index()
reshape_juntos

       numper  period   nump  mes  ubigeo       dominio  p400a3  p4022
0       15368      15   1158   11   10101  sierra norte  1946.0    0.0
1       15369      15   1158   11   10101  sierra norte  1973.0    0.0
2       15380      15   1162   11   10101  sierra norte  1987.0    1.0
3       15381      15   1162   11   10101  sierra norte  2009.0    1.0
4       15410      15   1185    7   10101  sierra norte  1955.0    0.0
...       ...     ...    ...  ...     ...           ...     ...    ...
27725   34848      19  18549   10  250101         selva  2002.0    1.0
27726   34846      19  18549   10  250101         selva  1985.0    0.0
27727   34847      19  18549   10  250101         selva  1976.0    1.0
27728   34849      19  18549   10  250101         selva  2007.0    1.0
27729   34850      19  18549   10  250101         selva  2011.0    0.0

[27730 rows x 8 columns]

In [21]:
#Calculamos el valor de 'year' sumando 2000 al valor de la columna 'period'
reshape_juntos['year'] = 2000 + reshape_juntos['period']
reshape_juntos

       numper  period   nump  mes  ubigeo       dominio  p400a3  p4022  year
0       15368      15   1158   11   10101  sierra norte  1946.0    0.0  2015
1       15369      15   1158   11   10101  sierra norte  1973.0    0.0  2015
2       15380      15   1162   11   10101  sierra norte  1987.0    1.0  2015
3       15381      15   1162   11   10101  sierra norte  2009.0    1.0  2015
4       15410      15   1185    7   10101  sierra norte  1955.0    0.0  2015
...       ...     ...    ...  ...     ...           ...     ...    ...   ...
27725   34848      19  18549   10  250101         selva  2002.0    1.0  2019
27726   34846      19  18549   10  250101         selva  1985.0    0.0  2019
27727   34847      19  18549   10  250101         selva  1976.0    1.0  2019
27728   34849      19  18549   10  250101         selva  2007.0    1.0  2019
27729   34850      19  18549   10  250101         selva  2011.0    0.0  2019

[27730 rows x 9 columns]

In [22]:
# utilizamos el método size() para obtener el recuento de cada valor único en la columna 'year'.
num_year = reshape_juntos.groupby('year').size()
#imprimimos year_counts para mostrar el recuento de cada año en la columna 'year'
print(num_year )

year
2015    5546
2016    5546
2017    5546
2018    5546
2019    5546
dtype: int64

## <a id='1.0'> 3. Merge </a>

In [23]:
#utilizamos el método merge() para realizar una combinación basada de la nueva base de datos "reshape_juntos" y "juntos2 
#para lograr ello utilizamos la columna común 'ubigeo'
base = reshape_juntos.merge(juntos2, on='ubigeo')
base

,numper,period,nump,mes,ubigeo,dominio,p400a3,p4022,year,distrito,provincia,region,unidos
0,15368,15,1158,11,10101,sierra norte,1946.0,0.0,2015,Chachapoyas,Chachapoyas,Amazonas,1
1,15369,15,1158,11,10101,sierra norte,1973.0,0.0,2015,Chachapoyas,Chachapoyas,Amazonas,1
2,15380,15,1162,11,10101,sierra norte,1987.0,1.0,2015,Chachapoyas,Chachapoyas,Amazonas,1
3,15381,15,1162,11,10101,sierra norte,2009.0,1.0,2015,Chachapoyas,Chachapoyas,Amazonas,1
4,15410,15,1185,7,10101,sierra norte,1955.0,0.0,2015,Chachapoyas,Chachapoyas,Amazonas,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27725,34777,19,18472,7,220301,selva,1942.0,0.0,2019,San Jose de Sisa,El Dorado,San Martin,0
27726,34779,19,18473,7,220301,selva,1988.0,0.0,2019,San Jose de Sisa,El Dorado,San Martin,0
27727,34781,19,18473,7,220301,selva,2015.0,0.0,2019,San Jose de Sisa,El Dorado,San Martin,0
27728,34778,19,18473,7,220301,selva,1984.0,1.0,2019,San Jose de Sisa,El Dorado,San Martin,0
27729,34780,19,18473,7,220301,selva,2010.0,0.0,2019,San Jose de Sisa,El Dorado,San Martin,0

In [24]:
columnas4 = base.columns.values
columnas4

array(['numper', 'period', 'nump', 'mes', 'ubigeo', 'dominio', 'p400a3',
       'p4022', 'year', 'distrito', 'provincia', 'region', 'unidos'],
      dtype=object)

In [26]:
#creamos una lista llamada columnas_oficial que contiene los nombres de las columnas que deseamos mantener en el DataFrame "base"
columnas_oficial = ['year', 'numper', 'nump', 'mes', 'ubigeo', 'distrito', 'provincia', 'region', 'unidos',
                          'dominio', 'p400a3', 'p4022']
base = base[columnas_oficial]
base

,year,numper,nump,mes,ubigeo,distrito,provincia,region,unidos,dominio,p400a3,p4022
0,2015,15368,1158,11,10101,Chachapoyas,Chachapoyas,Amazonas,1,sierra norte,1946.0,0.0
1,2015,15369,1158,11,10101,Chachapoyas,Chachapoyas,Amazonas,1,sierra norte,1973.0,0.0
2,2015,15380,1162,11,10101,Chachapoyas,Chachapoyas,Amazonas,1,sierra norte,1987.0,1.0
3,2015,15381,1162,11,10101,Chachapoyas,Chachapoyas,Amazonas,1,sierra norte,2009.0,1.0
4,2015,15410,1185,7,10101,Chachapoyas,Chachapoyas,Amazonas,1,sierra norte,1955.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27725,2019,34777,18472,7,220301,San Jose de Sisa,El Dorado,San Martin,0,selva,1942.0,0.0
27726,2019,34779,18473,7,220301,San Jose de Sisa,El Dorado,San Martin,0,selva,1988.0,0.0
27727,2019,34781,18473,7,220301,San Jose de Sisa,El Dorado,San Martin,0,selva,2015.0,0.0
27728,2019,34778,18473,7,220301,San Jose de Sisa,El Dorado,San Martin,0,selva,1984.0,1.0
27729,2019,34780,18473,7,220301,San Jose de Sisa,El Dorado,San Martin,0,selva,2010.0,0.0