#### Tarea 6    - Grupo 3
#### Integrantes
* Narumi Miyamoto 
* Rodrigo Cervera
* Alicia Chaquila

In [1]:
#Exportamos las librer√≠as que necesitaremos
import pandas as pd
import numpy as np
import re 
import warnings
warnings.filterwarnings('ignore')

In [10]:
#Leemos la base de datos
# convert_caterials : se usar√° para especificar si se deben convertir las variables categ√≥ricas del archivo Stata a variables categ√≥ricas de Pandas
panel = pd.read_stata("C:/Users/ALICIA/Documents/GitHub/ultima tarea/data/data.dta",convert_categoricals=False) 
panel

,numper,numpanh15,numpanh16,numpanh17,numpanh18,numpanh19,mes_15,ubigeo_15,dominio_15,p400a3_15,...,mes_18,ubigeo_18,dominio_18,p400a3_18,p4022_18,mes_19,ubigeo_19,dominio_19,p400a3_19,p4022_19
0,15368,1158,1158,1158,1158,1158,11,10101,sierra norte,1946.0,...,12,10101,sierra norte,1946.0,0.0,11,10101,sierra norte,1946.0,0.0
1,15369,1158,1158,1158,1158,1158,11,10101,sierra norte,1973.0,...,12,10101,sierra norte,1973.0,0.0,11,10101,sierra norte,1973.0,0.0
2,15380,1162,1162,1162,1162,1162,11,10101,sierra norte,1987.0,...,12,10101,sierra norte,1987.0,0.0,11,10101,sierra norte,1987.0,1.0
3,15381,1162,1162,1162,1162,1162,11,10101,sierra norte,2009.0,...,12,10101,sierra norte,2009.0,0.0,11,10101,sierra norte,2009.0,0.0
4,15410,1185,1185,1185,1185,1185,7,10101,sierra norte,1955.0,...,7,10101,sierra norte,1955.0,0.0,7,10101,sierra norte,1955.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,34848,18549,18549,18549,18549,18549,12,250101,selva,2002.0,...,12,250101,selva,2002.0,0.0,10,250101,selva,2002.0,1.0
5542,34846,18549,18549,18549,18549,18549,12,250101,selva,1985.0,...,12,250101,selva,1985.0,0.0,10,250101,selva,1985.0,0.0
5543,34847,18549,18549,18549,18549,18549,12,250101,selva,1976.0,...,12,250101,selva,1976.0,0.0,10,250101,selva,1976.0,1.0
5544,34849,18549,18549,18549,18549,18549,12,250101,selva,2007.0,...,12,250101,selva,2007.0,0.0,10,250101,selva,2007.0,1.0
5545,34850,18549,18549,18549,18549,18549,12,250101,selva,2011.0,...,12,250101,selva,2011.0,1.0,10,250101,selva,2011.0,0.0

In [3]:
# Nos devuelve una lista de todos los nombres de las columnas 
panel.columns[:]

Index(['numper', 'numpanh15', 'numpanh16', 'numpanh17', 'numpanh18',
       'numpanh19', 'mes_15', 'ubigeo_15', 'dominio_15', 'p400a3_15',
       'p4022_15', 'mes_16', 'ubigeo_16', 'dominio_16', 'p400a3_16',
       'p4022_16', 'mes_17', 'ubigeo_17', 'dominio_17', 'p400a3_17',
       'p4022_17', 'mes_18', 'ubigeo_18', 'dominio_18', 'p400a3_18',
       'p4022_18', 'mes_19', 'ubigeo_19', 'dominio_19', 'p400a3_19',
       'p4022_19'],
      dtype='object')

In [4]:
# Renombramos a las columnas
panel.rename(columns = {'numpanh15':'numpanh_15', 'numpanh16':'numpanh_16','numpanh17':'numpanh_17','numpanh18':'numpanh_18','numpanh19':'numpanh_19'}, inplace = True)

In [5]:
# Crearemos una lista llamada filter_list que contiene los nombres de todas las columnas del DataFrame llamado "panel"
filter_list = list(panel.columns)[:]

In [6]:
# Crearemos una nueva lista llamada new_list que contiene los elementos √∫nicos de la lista filter_list, eliminando cualquier duplicado
new_list = list(dict.fromkeys(filter_list))
new_list

['numper',
 'numpanh_15',
 'numpanh_16',
 'numpanh_17',
 'numpanh_18',
 'numpanh_19',
 'mes_15',
 'ubigeo_15',
 'dominio_15',
 'p400a3_15',
 'p4022_15',
 'mes_16',
 'ubigeo_16',
 'dominio_16',
 'p400a3_16',
 'p4022_16',
 'mes_17',
 'ubigeo_17',
 'dominio_17',
 'p400a3_17',
 'p4022_17',
 'mes_18',
 'ubigeo_18',
 'dominio_18',
 'p400a3_18',
 'p4022_18',
 'mes_19',
 'ubigeo_19',
 'dominio_19',
 'p400a3_19',
 'p4022_19']

In [7]:
# Transformaremos de los datos en un formato m√°s largo (long format)
# reset_index : Lo utilizaremos para reiniciar el √≠ndice del DataFrame resultante

reshape_panel = pd.wide_to_long(panel, stubnames = ['numpanh','mes','ubigeo','dominio','p400a3','p4022'], i = ['numper'] , 
                                j = 'period' , sep = '_').reset_index()
reshape_panel

       numper  period  numpanh  mes  ubigeo       dominio  p400a3  p4022
0       15368      15     1158   11   10101  sierra norte  1946.0    0.0
1       15369      15     1158   11   10101  sierra norte  1973.0    0.0
2       15380      15     1162   11   10101  sierra norte  1987.0    1.0
3       15381      15     1162   11   10101  sierra norte  2009.0    1.0
4       15410      15     1185    7   10101  sierra norte  1955.0    0.0
...       ...     ...      ...  ...     ...           ...     ...    ...
27725   34848      19    18549   10  250101         selva  2002.0    1.0
27726   34846      19    18549   10  250101         selva  1985.0    0.0
27727   34847      19    18549   10  250101         selva  1976.0    1.0
27728   34849      19    18549   10  250101         selva  2007.0    1.0
27729   34850      19    18549   10  250101         selva  2011.0    0.0

[27730 rows x 8 columns]

In [11]:
# Llamaremos a una nueva base de datos
unidos = pd.read_stata("C:/Users/ALICIA/Documents/GitHub/ultima tarea/data/unidos.dta",
                      convert_categoricals=False)
unidos

      ubigeo                distrito    provincia    region  unidos
0      10101             Chachapoyas  Chachapoyas  Amazonas       1
1      10102                Asuncion  Chachapoyas  Amazonas       1
2      10103                  Balsas  Chachapoyas  Amazonas       0
3      10104                   Cheto  Chachapoyas  Amazonas       1
4      10105               Chiliquin  Chachapoyas  Amazonas       0
...      ...                     ...          ...       ...     ...
1869  250302                 Irazola   Padre Abad   Ucayali       0
1870  250303                Curimana   Padre Abad   Ucayali       0
1871  250304                 Neshuya   Padre Abad   Ucayali       0
1872  250305  Alexander von Humboldt   Padre Abad   Ucayali       0
1873  250401                   Purus        Purus   Ucayali       1

[1874 rows x 5 columns]

In [12]:
#Realizaremos una fusi√≥n (merge) entre dos DataFrames: reshape_panel y unidos
juntos = pd.merge(reshape_panel, unidos, on='ubigeo', how='inner')
juntos

,numper,period,numpanh,mes,ubigeo,dominio,p400a3,p4022,distrito,provincia,region,unidos
0,15368,15,1158,11,10101,sierra norte,1946.0,0.0,Chachapoyas,Chachapoyas,Amazonas,1
1,15369,15,1158,11,10101,sierra norte,1973.0,0.0,Chachapoyas,Chachapoyas,Amazonas,1
2,15380,15,1162,11,10101,sierra norte,1987.0,1.0,Chachapoyas,Chachapoyas,Amazonas,1
3,15381,15,1162,11,10101,sierra norte,2009.0,1.0,Chachapoyas,Chachapoyas,Amazonas,1
4,15410,15,1185,7,10101,sierra norte,1955.0,0.0,Chachapoyas,Chachapoyas,Amazonas,1
...,...,...,...,...,...,...,...,...,...,...,...,...
27725,34777,19,18472,7,220301,selva,1942.0,0.0,San Jose de Sisa,El Dorado,San Martin,0
27726,34779,19,18473,7,220301,selva,1988.0,0.0,San Jose de Sisa,El Dorado,San Martin,0
27727,34781,19,18473,7,220301,selva,2015.0,0.0,San Jose de Sisa,El Dorado,San Martin,0
27728,34778,19,18473,7,220301,selva,1984.0,1.0,San Jose de Sisa,El Dorado,San Martin,0
27729,34780,19,18473,7,220301,selva,2010.0,0.0,San Jose de Sisa,El Dorado,San Martin,0