# Tarea 6 - Grupo 2

## Reshape - Script R y Python (Jupiter notebook)

- <a href='#1.1'> 1.1 Formar una base de datos a partir de las bases data.dta y unidos.dta. Para ello, debe transformar la base data.dta a un formato long, luego hacer merge con la base unidos.dta. En el proceso de formato wide a long, use la variable numper como identificador  </a> 
- <a href='#1.1.1'> 1.1.1 Se transforma la base data.dta a un formato long </a> 
- <a href='#1.1.2'> 1.1.2 Se realiza el merge con unidos.dta </a>

In [17]:
#Se importan las librerías necesarias
import pandas as pd
import numpy as np
import re 

import warnings

import seaborn as sns # seaborn es una libreria de gráficos 
import matplotlib.pyplot as plt 
from matplotlib.lines import Line2D

warnings.filterwarnings('ignore')

## <a id='1.1'> 1.1 Formar una base de datos a partir de las bases data.dta y unidos.dta. Para ello, debe transformar la base data.dta a un formato long, luego hacer merge con la base unidos.dta. En el proceso de formato wide a long, use la variable numper como identificador </a>

### <a id='1.1.1'> 1.1.1 Se transforma la base data.dta a un formato long </a>

In [18]:
#Se lee la base de datos
panelData = pd.read_stata("../../data/Juntos_program/data.dta",
                      convert_categoricals=False)

In [19]:
#Se le añade un _ a los numpanh para poder utilizar luego el separador _
new_column_names = [col.replace('numpanh', 'numpanh_') for col in panelData.columns]
panelData.columns = new_column_names
panelData

,numper,numpanh_15,numpanh_16,numpanh_17,numpanh_18,numpanh_19,mes_15,ubigeo_15,dominio_15,p400a3_15,...,mes_18,ubigeo_18,dominio_18,p400a3_18,p4022_18,mes_19,ubigeo_19,dominio_19,p400a3_19,p4022_19
0,15368,1158,1158,1158,1158,1158,11,10101,sierra norte,1946.0,...,12,10101,sierra norte,1946.0,0.0,11,10101,sierra norte,1946.0,0.0
1,15369,1158,1158,1158,1158,1158,11,10101,sierra norte,1973.0,...,12,10101,sierra norte,1973.0,0.0,11,10101,sierra norte,1973.0,0.0
2,15380,1162,1162,1162,1162,1162,11,10101,sierra norte,1987.0,...,12,10101,sierra norte,1987.0,0.0,11,10101,sierra norte,1987.0,1.0
3,15381,1162,1162,1162,1162,1162,11,10101,sierra norte,2009.0,...,12,10101,sierra norte,2009.0,0.0,11,10101,sierra norte,2009.0,0.0
4,15410,1185,1185,1185,1185,1185,7,10101,sierra norte,1955.0,...,7,10101,sierra norte,1955.0,0.0,7,10101,sierra norte,1955.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,34848,18549,18549,18549,18549,18549,12,250101,selva,2002.0,...,12,250101,selva,2002.0,0.0,10,250101,selva,2002.0,1.0
5542,34846,18549,18549,18549,18549,18549,12,250101,selva,1985.0,...,12,250101,selva,1985.0,0.0,10,250101,selva,1985.0,0.0
5543,34847,18549,18549,18549,18549,18549,12,250101,selva,1976.0,...,12,250101,selva,1976.0,0.0,10,250101,selva,1976.0,1.0
5544,34849,18549,18549,18549,18549,18549,12,250101,selva,2007.0,...,12,250101,selva,2007.0,0.0,10,250101,selva,2007.0,1.0
5545,34850,18549,18549,18549,18549,18549,12,250101,selva,2011.0,...,12,250101,selva,2011.0,1.0,10,250101,selva,2011.0,0.0

In [20]:
#Se filtra para quitar el separador para luego poder crear la variable period 
filter_list = list( map( lambda x: re.sub('.{3}$',"", x) , list(panelData.columns)[1::] )   )

new_list = list(dict.fromkeys(filter_list))
new_list

['numpanh', 'mes', 'ubigeo', 'dominio', 'p400a3', 'p4022']

In [21]:
#Se convierte de formato wide a long la base de datos data.dta
reshape_panelData = pd.wide_to_long(panelData, stubnames = new_list, i = ['numper'] , 
                                j = 'period' , sep = '_').reset_index()
#####
reshape_panelData
#Se ordena el dataframe
reshape_panelData = reshape_panelData.sort_values(['numper', 'period'], ascending=[True, True])
#Se resetea el index
reshape_panelData = reshape_panelData.reset_index(drop=True)


reshape_panelData

       numper  period  numpanh  mes  ubigeo       dominio  p400a3  p4022
0        7743      15     7057    3  110101  costa centro  1947.0    0.0
1        7743      16     7057    3  110101  costa centro  1947.0    0.0
2        7743      17     7057    3  110101  costa centro  1947.0    0.0
3        7743      18     7057    2  110101  costa centro  1947.0    1.0
4        7743      19     7057    2  110101  costa centro  1947.0    0.0
...       ...     ...      ...  ...     ...           ...     ...    ...
27725   34850      15    18549   12  250101         selva  2011.0    0.0
27726   34850      16    18549   12  250101         selva  2011.0    1.0
27727   34850      17    18549   12  250101         selva  2011.0    0.0
27728   34850      18    18549   12  250101         selva  2011.0    1.0
27729   34850      19    18549   10  250101         selva  2011.0    0.0

[27730 rows x 8 columns]

### <a id='1.1.2'> 1.1.2 Se realiza el merge con unidos.dta </a>

In [24]:
#Se lee la base de datos
baseUnidos = pd.read_stata("../../data/Juntos_program/unidos.dta",
                      convert_categoricals=False)
 
baseUnidos

      ubigeo                distrito    provincia    region  unidos
0      10101             Chachapoyas  Chachapoyas  Amazonas       1
1      10102                Asuncion  Chachapoyas  Amazonas       1
2      10103                  Balsas  Chachapoyas  Amazonas       0
3      10104                   Cheto  Chachapoyas  Amazonas       1
4      10105               Chiliquin  Chachapoyas  Amazonas       0
...      ...                     ...          ...       ...     ...
1869  250302                 Irazola   Padre Abad   Ucayali       0
1870  250303                Curimana   Padre Abad   Ucayali       0
1871  250304                 Neshuya   Padre Abad   Ucayali       0
1872  250305  Alexander von Humboldt   Padre Abad   Ucayali       0
1873  250401                   Purus        Purus   Ucayali       1

[1874 rows x 5 columns]

In [25]:
#Se realiza el merge de ambas bases de datos
baseDatos=pd.merge(reshape_panelData, baseUnidos, how = "left", on = "ubigeo", validate = "m:1")
baseDatos

,numper,period,numpanh,mes,ubigeo,dominio,p400a3,p4022,distrito,provincia,region,unidos
0,7743,15,7057,3,110101,costa centro,1947.0,0.0,Ica,Ica,Ica,1
1,7743,16,7057,3,110101,costa centro,1947.0,0.0,Ica,Ica,Ica,1
2,7743,17,7057,3,110101,costa centro,1947.0,0.0,Ica,Ica,Ica,1
3,7743,18,7057,2,110101,costa centro,1947.0,1.0,Ica,Ica,Ica,1
4,7743,19,7057,2,110101,costa centro,1947.0,0.0,Ica,Ica,Ica,1
...,...,...,...,...,...,...,...,...,...,...,...,...
27725,34850,15,18549,12,250101,selva,2011.0,0.0,Calleria,Coronel Portillo,Ucayali,0
27726,34850,16,18549,12,250101,selva,2011.0,1.0,Calleria,Coronel Portillo,Ucayali,0
27727,34850,17,18549,12,250101,selva,2011.0,0.0,Calleria,Coronel Portillo,Ucayali,0
27728,34850,18,18549,12,250101,selva,2011.0,1.0,Calleria,Coronel Portillo,Ucayali,0
27729,34850,19,18549,10,250101,selva,2011.0,0.0,Calleria,Coronel Portillo,Ucayali,0